/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
}
h1{
  font-size: 26px;
  margin: 33px;
}
/*********top******************/
.book-top p{
  margin: 33px;
  padding-bottom: 33px;
}

.book-btn{
  display: flex;
}
.book-btn a{
  padding: 5px;
}

/*******index***************/

table {
  width: 100%;
  margin: 50px 70px;
  text-align: center;
}
td{
  text-align: left;
}
.index-btn{
 width: 160px;
 marhin-right: 70px;
 display: flex;
 justify-content: space-around;
}
/*******new******************/
.book-new-content{
  margin-left: 70px;
  display: block;
  line-height: 30px;
}
/*********show**************/
.book-show{
  margin: 33px;
}
.book-show-content{
  margin: 33px;
  display: flex;
  overflow-warp: break-word;
}
/**********edit****************/
.edit-book{
  margin-left: 70px;
  display: block;
  line-height: 60px;
}

/********link-btn**************/
a{
  color:#000
}

a:visited{
  color:#666
}
a:hover{
  color:#fff;background-color:#000
}
/******************************/
#notice{
  color: green;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
/*************@media**************/
@media screen and (max-width: 425px){
  .book-show-content{
    display: block;
  }

}